<%= form_with url: search_path, method: :get do |f| %>
    <div id="search_form">
        <div class="search">
            <div class="icon" onclick="toggle_open(document.getElementById('search_form'))">
                <%= inline_svg_tag("search.svg", class: 'svg-picture') %>
            </div>
            <div class="input">
                <%= f.search_field :query, placeholder: (t "Search..."), class: "search_field" %>
            </div>
            <span class="clear" onclick="document.querySelector('.search_field').value = ''"></span>
        </div>
    </div>
<% end %>



