<% if params[:q].presence %>
    <div class="result">
        <h2 class="mt-0"><%= (t "result", count: @posts.count) %> <%= (t "for tag #") %><%= params[:q] %></h2>
    </div>
<% end %>
<%= render 'search/blocks', blocks_by_three: @posts_by_three %>

