    
<%= turbo_frame_tag "#{dom_id(comment)} public_likes" do %>
    <% if comment.likes.any? %>
        <div class="counter">
            <%= pluralize(comment.likes.count, "reaction") %>
        </div>    
    <% end %>
<% end %>