<div class="user">
    <%= render 'search/avatar', user: user %>
    <div class="text">
        <div class="name">
            <%= user.username %>  
        </div>   
    </div>                   
</div>