<%= render @current_user %>


<div class="links">
  <%= button_to "Log out", session_destroy_path, class: 'button', method: :delete %>
  <%= link_to "Edit this user", edit_user_path(@current_user) %>
</div>
<div class="destroy">
  <%= button_to "Destroy this user", @current_user, class: 'button', method: :delete %>
</div>