<%= form_with(model: [@single_room, @message], remote: true,
  data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"})  do |f| %>
    <div class="msg-form">
            <div class="field">
                <%= f.text_field :body, autocomplete: 'off', placeholder: (t "Write here..."), class: 'input' %>
                <%= button_tag( class: "button", data: { disable_with: false }) do %>
                  <%= inline_svg_tag("send.svg", class: 'svg-picture') %>
                <% end %>
            <div>
    </div>
<% end %>