<div class="book_form" id="<%= dom_id post %>">
  <div class="book">
      <div class="left">
        <div class="field">
          <p>Description:</p>
          <p><%= post.description %></p>
        </div>

        <div class="field">
          <p>Title:</p>
          <p><%= post.title %></p>
        </div>        
      </div>

      <div class="right">
        <div class="field">
          <%= link_to (image_tag post.picture, class: "post_picture"), post.picture %>
        </div>
      </div>
  </div>
</div>
