<h1>Editing post</h1>

<%= render "form", post: @post %>

<div class="line">
  <%= link_to "Show this post", @post, class: 'button' %>
  <%= link_to "Back to posts", posts_path, class: 'button' %>
</div>
