<h1 class="header-text">Posts</h1>

<div class="posts">
    <% @posts_by_three.each do |column| %>
        <div class="posts_column">
            <% column.each do |post| %>
                <div class="post">
                    <%= link_to (image_tag post.picture, class: "post_picture"), post %>
                </div>
            <% end %>
        </div>        
    <% end %>
</div>