/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background: var(--main-color);
}
.navbar {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--vsp-color);
}
.navbar .nav-brand img {
    height: 45px;
}
.navbar .nav-pages .nav-link .svg-picture{
    height: 35px;
}
.navbar .nav-pages{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0.4 0 auto;
    font-size: 18px;
}
.navbar .nav-pages .nav-link{
    text-decoration: none;
    color: var(--link-color);
}
.navbar .nav-pages .nav-link:hover{
    color: var(--link-hover-color);
    border-bottom: 1px solid var(--light-text-color);
}
footer .navbar{
    border-bottom: none;
    border-top: 1px solid var(--vsp-color);
    justify-content: center;
}
footer .navbar .nav-pages{
    flex: 0 0 auto;
}
footer .navbar .vertical-line{
    width: 1px;
    height: 15px;
    margin: 0px 12px;
    background-color: var(--vsp-color);
 }

 /* Content moment */

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.container.smart {
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.container.smart *{
    margin: 5px;
}
.avatar {
    display: flex;
    justify-content: space-between;
}
.avatar-link,
.avatar-mini,
.avatar-big  {
    border: 2px solid var(--main-color);
    outline: 2px solid var(--avatar-border-color);
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.avatar-mini {
    height: 100px;
    width: 100px;
}
.avatar-big {
    height: 16vw;
    width: 16vw;
    margin: 20px;
}
.name {
    font-size: 25px;
}
.button.delete_account {
    color: #c00000;
}
.button.delete_account:hover,
.button.delete:hover {
    color: #fff;
    background: #e90000;
}

.d-none {
    display: none;
}
.container .round-between {
    content: ' ';
    padding: 0px;
    border-radius: 50%;
    height: 3px;
    width: 3px;
    background: var(--light-text-color);
}
.purple-link{
    margin: 6px;
    border-radius: 16px;
    transition: 0.5s;
}
.purple-link:hover {
    color: var(--link-hover-color);
    background: var(--colored-text);
}
.like-text {
    transition: 0.5s;
}
.like-text:hover {
    color: var(--like-pressed-text-color);
    background: var(--like-hover-color);
}
.like-text.pressed {
    transition: 0.5s;
    color: var(--like-pressed-text-color);
    background: var(--like-hover-color);
}
.interests.buttons .save{
    border-radius: 16px;
    height: 30px;
    width: 100px;
}
