
#chatroom_container *::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
#chatroom_container *::-webkit-scrollbar-track {

    border-radius: 12px;
    background: var(--back-color);
}
#chatroom_container *::-webkit-scrollbar-thumb {
    background-color: var(--back-vsp-color);
    border-radius: 12px;
    border: none;
    z-index: 0;
}
#chatroom_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    height: 80vh;
    margin-right: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
#chatroom_container .user{
    height: 2vw;
}
#chatroom_container .user:hover{
    transform: scale(1.01);
}
#chatroom_container .current_user * {
    justify-content: center;
}
#chatroom_container .current_user .avatar-mini {
    margin-top: 5px;
    height: 7vh;
    width: 7vh;
}
#chatroom_container .user .avatar-mini{
    height: 2vw;
    width: 2vw;
}
#messages{
    width: 50vw;
    height: calc(70vh - 150px);
    overflow-x: hidden;
    overflow-y: scroll;
}
#user_container {
    padding: 5px;
    height: 70vh;
    margin-right: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#chat_container {
    height: 70vh;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#single_room{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#chat_container,
#messages {
    width: 60vw;
}
#chat_container .header{
    margin: 0px 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--back-color);
    width: 97%;
    border-radius: 18px;
}
#chat_container .header .avatar-mini{
    height: 4vw;
    width: 4vw;
    outline: none;
}
.container-msg{
    margin: 8px;
}
.container-msg .msg{
    margin: 0px 5px;
    padding: 12px;
    border-radius: 16px;
    width: 20vw;
    background: var(--back-color);
    color: var(--light-text-color);
    word-break: break-all;
}
#messages .avatar-mini{
    height: 2vw;
    width: 2vw;
    margin-right: 10px;
}
#messages .line{
    margin: 0px 0px 10px 0px;
    display: flex;
    justify-content: flex-start;
}
#messages .line *{
    padding: 0px;
}
#messages .name{
    font-size: 16px;
}
.msg-form{
    margin-top: 8px;
    display: flex;
}
.msg-form .field{
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    flex: 1 0 auto;

    margin: 0px 5px;
    padding: 5px;

    border-radius: 60px;
    border: 3px solid var(--back-vsp-color);
}
.msg-form .input{
    outline: none;
    border: none;
    padding: 6px 8px;
    background: var(--main-color);
    color: var(--light-text-color);
    font-size: 14px;
    font-weight: 600;
    margin: 0px 8px;
    width: 48vw;
}
.msg-form .button{
    border-radius: 50%;
}
.msg-form .button .svg-picture{
    transition: 0.5s;
    height: 25px;
    color: var(--back-vsp-color);
}
.msg-form .button:hover {
    background: var(--blue-color);
}
.msg-form .button:hover .svg-picture{
    color: var(--white-color);
}
