<%= turbo_frame_tag "#{user.id}-follower-count" do %>
  <div class="line center">
        <%= link_to (t "followers", count: user.followers.count), profile_followers_path(user), class: 'purple-link' %>
    <div class="round-between"></div>
        <%= link_to (t "followees", count: user.followees.count), profile_followees_path(user), class: 'purple-link' %> 
  </div>
<% end %>