<% if user == current_user %>
    <div class="profile_settings" id="settings" onclick="toggle_open(this)">
      <div class="main">
        <div class="round"></div>
        <div class="round"></div>
        <div class="round"></div>
      </div>
      <div class="menu">
        
        <div class="round-line like-text">
          <%= button_to "Saved", interests_saved_path %>
        </div>
        <div class="round-line">
          <%= button_to "Edit profile", edit_user_registration_path %>
        </div>
        <div class="round-line">
          <%= button_to "Log out", destroy_user_session_path, method: :delete %>
        </div>
        <div class="round-line">
          <% image_src = "#{toggled_theme}.svg" %>
          <%= button_to inline_svg_tag(image_src, class: 'theme-button svg-picture'), profile_theme_path, method: :put, class: "button change_theme" %>
        </div>
      </div>
    </div>
<% end %>