<% if @user == current_user %>
    <div class="profile_settings">
        <div class="round"></div>
        <div class="round"></div>
        <div class="round"></div>
    </div>
<% end %>

<%= render 'avatar', user: @user%>

<div class="line">
  <%= link_to "Edit", edit_user_registration_path, class: 'button' %>
</div>
<%= button_to "Log out", destroy_user_session_path, class: 'button', method: :delete %>

<div class="posts">
    <% @posts_by_three.each do |line| %>
        <div class="posts_line">
            <% line.each do |post| %>
                <div class="post">
                    <%= link_to (image_tag post.picture, class: "post_picture"), post %>
                </div>
            <% end %>
        </div>        
    <% end %>
</div>