<% if alert|| notice %>
  <div class="container">
      <% if alert %>
        <div class="container">
          <p class="error-text"><%= alert %></p>
        </div>
      <% end %>
      <% if notice %>
        <div class="container">
          <p class="notice-text"><%= notice %></p>
        </div>
      <% end %>
  </div>
<% end %>