 <footer>
      <div class="navbar">
        <div class="nav-pages">
          <div>
              <%= link_to (t 'Privacy Policy'), '/', class: 'nav-link' %>
          </div>
          <div class="vertical-line"></div>
          <div>
              <%= link_to (t 'Contacts'), '/', class: 'nav-link' %>
          </div>
          <div class="vertical-line"></div>
          <div>
            <%= link_to "En", url_for( :locale => 'en' ), class: 'nav-link' %>
          </div>
          <div class="vertical-line"></div>
          <div>
              <%= link_to "Ru", url_for( :locale => 'ru' ), class: 'nav-link' %>
              
          </div>
        </div>
      </div>
</footer>  