 <footer>
      <div class="navbar">
        <div class="nav-pages">
          <div>
              <%= link_to 'Privacy Policy', '/', class: 'nav-link' %>
          </div>
          <div class="vertical-line"></div>
          <div>
              <%= link_to 'Contacts', '/', class: 'nav-link' %>
          </div>
        </div>
      </div>
</footer>  